# 数据库配置
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=zhq

# 服务器配置
SERVER_PORT=8080
SERVER_HOST=0.0.0.0

# JWT密钥
JWT_SECRET=lM0.lO0}bC1+wP8^fX2!rJ2~yC8,uR1,

# 微信小程序配置
WECHAT_APPID=wxf3931c9fcba2d5a9
WECHAT_SECRET=d3105f4dad067830746a96b97d561428